* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #eee;
    font: 14px/1.3 Arial, sans-serif;
}
header {
    background-color: #212121;
    box-shadow: 0 -1px 2px # 111111;
    color: #fff;
    display: block;
    height: 60px;
    position: relative;
    width: 100 % ;
    z-index: 100;
}

header .container {
    width: 690px;
    margin: 0 auto;
    padding: 22px 0;
}
header h2 {
    float: left;
    font-size: 22px;
    font-weight: normal;
    color: white;
}
header .tagline {
    border: none;
    text-decoration: none;
    color: #fcfcfc;
    font-size: 14px;
    float: right;
    padding-top: 12px;
}
.main {
    width: 740px;
    padding: 50px;
    background-color: white;
    border-radius: 0 0 15px 15px;
    margin: 0 auto;
    content: "";
    display: table;

}
footer{
    padding: 10px;
text-align: center;    
}
    

@media(max-width: 790px) {
    header .container {
        padding-left: 10px;
    }
    header .tagline {
        display: block;
        color: black;
        position: absolute;
        top: 50px;
    }
    .main{
        max-width: 790px;    
    }
}

@media(max-width: 450px) {

}@media only screen and(min-device-width: 320px) and(max-device-width: 480px) {

}